*.json
/__pycache__/
models/__pycache__
models/engine/__pycache__
tests/__pycache__
tests/test_models/__pycache__
tests/test_models/test_engine/__pycache__
api/v1/__pycache__/__init__.cpython-310.pyc
api/v1/__pycache__/app.cpython-310.pyc